* {
    padding: 0;
    margin: 0;
}

/* Header Settings */
header {
    background: black;
    padding-top: 15px;
    padding-bottom: 15px;
}

.title {
    padding-left: 120px;
    padding-right: 120px;
}

.material-icons {
    vertical-align: middle;
}

.title_text {
    font-size: 28px;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    vertical-align: middle;
}

/* Below is for the text on the top right side */
/* .title_info {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    vertical-align: middle;
    float: right;
} */

.main_text_container {
    padding-top: 30px;
    padding-left: 120px;
    padding-right: 120px;
}

.button_container {
    display: flex;
    align-items: center;
    justify-content: center;  
}

.filter_button {
    background-color: #ffffff;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 32px;
}

.filter_button:hover {
    box-shadow:200px 0 0 0 rgba(29, 183, 84, 1) inset;
}


  

h1 { /* TODO: customize header color, font etc */
    /* color: rgb(255, 255, 255); */
    color: #1ed760;
    font-size: 4.0em;
    text-align: left;
    font-family: 'Lato', sans-serif;
}

p0 { /* TODO: customize paragraph color, etc */
    color: white;
    font-size: 1.2em;
    text-align: left;
    font-family: 'Lato', sans-serif;
}

.soundboard {
    margin-left: -120px;
    font-family: 'Lato', sans-serif;
    color: #1ed760;
}

/* CODE FOR EACH SLIDER'S LOW/HIGH TEXT BOXES */
#length_slider_val_low{
    position: fixed;
    left: 170px;
    bottom: -190px; 
    text-align: "center";
    font-size: 1.3em;
}
#length_slider_val_high {
    position: fixed; 
    left: 170px; 
    bottom: 265px; 
    text-align: "center";
    font-size: 1.3em;
}


#energy_slider_val_low {
    position: fixed;
    left: 370px;
    bottom: -190px; 
    text-align: "center";
    font-size: 1.3em;
}

#energy_slider_val_high {
    position: fixed; 
    left: 370px; 
    bottom: 265px; 
    text-align: "center";
    font-size: 1.3em;
} 


#speechiness_slider_val_low { 
    position: fixed;
    left: 560px;
    bottom: -190px; 
    text-align: "center";
    font-size: 1.3em;
}

#speechiness_slider_val_high {
    position: fixed; 
    left: 560px; 
    bottom: 265px; 
    text-align: "center";
    font-size: 1.3em;
}


#danceability_slider_val_low {
    position: fixed;
    left: 740px;
    bottom: -190px; 
    text-align: "center";
    font-size: 1.3em;
}

#danceability_slider_val_high {
    position: fixed; 
    left: 740px; 
    bottom: 265px; 
    text-align: "center";
    font-size: 1.3em;
}

/* CODE FOR EACH SLIDER'S LABEL AND CHECKBOX */

input[name=length_check] {
    position: fixed;
    left: 250px;
    bottom: -280px;
    text-align: "center";
    font-size: 1em;
    transform: scale(1.55);
}
label[for=length_check] {
    position: fixed;
    left: 229px;
    bottom: -315px;
    text-align: "center";
    display:inline-block;
    max-width: 50em;
    font-size: 1.2em;
}


input[name=energy_check] {
    position: fixed;
    left: 428px;
    bottom: -280px;
    text-align: "center";
    font-size: 1em;
    transform: scale(1.55);
}
label[for=energy_check] {
    position: fixed;
    left: 410px;
    bottom: -315px;
    text-align: "center";
    display:inline-block;
    max-width: 50em;
    font-size: 1.2em;
}


input[name=speechiness_check] {
    position: fixed;
    left: 607px;
    bottom: -280px;
    text-align: "center";
    font-size: 1em;
    transform: scale(1.55);
}
label[for=speechiness_check] {
    position: fixed;
    left: 570px;
    bottom: -315px;
    text-align: "center";
    display:inline-block;
    max-width: 50em;
    font-size: 1.2em;
}


input[name=danceability_check] {
    position: fixed;
    left: 795px;
    bottom: -280px;
    text-align: "center";
    font-size: 1em;
    transform: scale(1.55);
}
label[for=danceability_check] {
    position: fixed;
    left: 760px;
    bottom: -315px;
    text-align: "center";
    display:inline-block;
    max-width: 50em;
    font-size: 1.2em;
}


body {
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    /* background-color: #1ed760; */
    background-color: #191414;
}

/* Below slider stuff from: https://www.youtube.com/watch?v=xVR7bPGKvlY */

/* BASE CODE FOR LENGTH SLIDER */
.slider-container {
    position: relative;
    width: 50%;
    max-width: 500px;
    transform: translate(75px, 300px);
}

.slider {
	position: relative;
	display: flex;
	z-index: 1;
    height: 10px;
	margin: 0 15px;
	transform: rotate(-90deg);
}
 .slider > .track {
	position: absolute;
    z-index: 1;
    height: 100%;
    transform: translate(0px, 6px);
	left: -15px;
	right: -15px;
	top: 0;
    bottom: 0;
	border-radius: 5px;
	background-color: rgba(100, 100, 100, 0.2);
}

.slider > .range {
	position: absolute;
    z-index: 2;
    height: 100%;
    transform: translate(0px, 6px);
	left: 25%;
	right: 25%;
	top: 0;
	bottom: 0;
	border-radius: 5px;
    /* background-color: #6200ee; */
    /* background-image: linear-gradient(to right, #ffe536 0%, #ff2525 100%); */
    background: #1ed760;
} 
.slider > .thumb {
	position: absolute;
	z-index: 3;
    width: 30px;
	height: 30px;
	background-color: #6200ee;
	border-radius: 50%;
    transition: box-shadow .3s ease-in-out;
    /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
    border: 0px solid #000000;
    height: 18px;
    width: 18px;
    /* border-radius: 12px; */
    background: #ffffff;
}
.slider > .thumb.left {
	left: 25%;
	transform: translate(-15px, 2px) scale(1.3);
}
.slider > .thumb.right {
	right: 25%;
	transform: translate(15px, 2px) scale(1.3);
}


input[type=range] {
	position: absolute;
	pointer-events: none;
	-webkit-appearance: none;
	z-index: 2;
	height: 10px;
	width: 100%;
	opacity: 0;
	transform: rotate(-90deg);   /* FUNCTIONALITY HERE */
}
input[type=range]::-webkit-slider-thumb {
	pointer-events: all;
	width: 30px;
	height: 30px;
	border-radius: 0;
	border: 0 none;
    -webkit-appearance: none;
    cursor: pointer;
} 

/* MODS TO LENGTH SLIDER FOR ENERGY, SPEECHINESS, AND DANCEABILITY SLIDERS */
.energy{
    position: relative;
    top: -11px;
    left: 180px;
}

#energy_range {
    background: #1ed760;
} 

.speechiness{
    position: relative;
    top: -21px;
    left: 360px;
}

#speechiness_range {
    background: #1ed760;
} 

.danceability {  
    position: relative;
    top: -31px;
    left: 545px;
}

#danceability_range {
    background: #1ed760;
} 

.song_list_container {
    padding-top: 700px;
    padding-left: 120px;
    padding-right: 120px;
    /* max-width: 50em; */
    background: #191414;
}

.song_list {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 120px;
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
    line-height: 200%;
    color: white;
}
